body{
    box-sizing: border-box;
    margin: 0px;
    height:100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding:16px;
}
.header-logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}
.header-link a{
    text-decoration: none;
    color:#e5e7eb;
    font-size:18px;
    margin-left: 16px;
}
.hero{
    display:flex;
    justify-content: center;
    background-color: #1f2937;
    padding:16px;
    gap:32px;
}
.hero-main-text{
    font-size: 48px;
    font-weight: bolder;
    color:#f9faf8
}
.hero-secondary-text{
    font-size: 18px;
    color:#e5e7eb;
    max-width: 500px;
}
.hero-button{
    color:white;
    background-color:#3882f6 ;
    padding:8px 32px;
    font-size: 18px;
    font-weight: 700;
    border:0px;
    margin-top:16px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-header{
    margin:32px;
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
}
.info-content{
    display: flex;
    gap:32px
}
.info-box img{
    border:6px solid #3882f6;
}
.info-box-text{
    max-width: 160px;
    text-align: center;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#1f2937;
    background-color: #e5e7eb;
    padding:72px;
    margin-top:32px;
}
.quote-text{
    max-width: 700px;
    font-style:italic;
    font-weight:100;
    font-size: 36px;
}
.quote-author{
    font-weight: bolder;
    font-size: 24px;
}